.cardD {
  background-color: white;
  margin: auto;
  width: 50%;
  text-align: center;
  border-radius: 50px;
}

.cardD img {
  display: block;
  margin: auto;
}

.cardD h1 {
  text-align: center;
}

.buyB {
  border-radius: 15%;
  background-color: rgb(49, 214, 49);
  color: white;
}
