.cardOverview {
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  border: 3px solid black;
}

.cardOverview:hover {
  transform: scale(1.2);
}

.cardOverview img {
  border-radius: 9px;
  height: 400px;
  width: auto;
  overflow: hidden;
}
.cardT {
  background-color: white;
  color: black;
  text-align: center;
}

.cardImage {
  position: relative;
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid white;
  border-radius: 50%;
  color: rgb(106, 240, 106);
  background-color: white;
  height: 25px;
  width: auto;
}

.needed {
  background-color: red;
  border: 0;
  border-radius: 5px;
  margin: 3px;
  color: white;
}

.owned {
  background-color: rgb(49, 246, 49);
  border: 0;
  border-radius: 5px;
  margin: 3px;
  color: white;
}
